.table-container{
  margin-top: 25px;
}

thead {
  background-color: #f2f2f2;
}

tr {
  .MuiTableCell-head {
    color: rgb(136, 136, 136);

    &:nth-child(1) {
      display: flex;
    }
  }
}

tbody {
  .remove-btn {
    text-decoration: none;
    color: #ca6b11;
    border: 1px solid #ca6b11;
    border-radius: 25px;
    padding: 10px 15px;

    &:hover {
      background-color: #fcf3ea;
    }
  }
}


